h1 {
  color: #ffa88e;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 28px;
  animation-duration: 2s;
  animation-name: aparecer; }

h2 {
  color: #FFA88E;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 50px;
  animation-duration: 4s;
  animation-name: fadeInRight; }

h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 16px;
  margin: 0;
  margin-bottom: 20px; }

.espaciado {
  letter-spacing: 3px; }

.entrada .texto {
  padding: 0px 15px 15px; }

.entrada .texto > button {
  background: gray;
  border: 0;
  color: white;
  margin-top: 14px;
  padding: 10px;
  width: 100%; }

textarea {
  width: 160px;
  height: 160px;
  transition: all 1s; }
  textarea :focus {
    width: 300px;
    font-size: 20px; }

.header a:hover {
  background-color: #FFA88E;
  color: white; }

.header a.active {
  background-color: none;
  color: #FFA88E; }

.fondoFuerte {
  background-color: #595755; }

.blog {
  background-image: url("img/backblog.jpg");
  padding: 10px 10px 10px 10px;
  width: 100%; }

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

html {
  display: flex;
  height: 100%;
  width: 100%; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  width: 100%;
  overflow-x: hidden; }

.topnav {
  overflow: hidden; }
  .topnav .icon {
    display: none; }

.grid {
  display: grid;
  grid-template-columns: [x0] 1fr [x1] 3fr [x2] 1fr [x3];
  grid-template-rows: [y0] 1fr [y1] 2fr [y2] 3fr [y3]; }

.cabecera {
  grid-column-start: x0;
  grid-column-end: x3;
  grid-column: x0 / x3; }

.textbar {
  padding-right: 5px;
  margin-left: 0px;
  grid-row-start: y1;
  grid-row-end: y3;
  grid-column: x2 / x3;
  text-align: right;
  display: inline-block; }

.content {
  grid-column: x1 / x2;
  grid-row: y1 / y2; }

.footer {
  grid-column: x0 / x3;
  grid-row-start: y2;
  grid-row-end: y3; }

.sectionservicios {
  text-align: center;
  margin-top: 8px;
  margin-right: auto;
  padding: 1% 10% 1% 10%; }
  .sectionservicios h1 {
    font-size: 40px;
    color: #ffa88e; }

.numeros {
  text-align: center;
  margin-top: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 5px 50px 50px 25px; }

.NumerosOrden {
  background-color: #ffe3ce; }
  .NumerosOrden h1 {
    font-size: 40px;
    color: #ffa88e; }
  .NumerosOrden h3 {
    font-size: 20px;
    color: #464343; }

.tituloBlog h1 {
  text-align: left;
  font-size: 36px;
  color: #fff;
  margin-left: 25px; }

.SectionIntro {
  text-align: justify;
  margin: auto;
  padding: 4% 8%; }

.entrada {
  width: 25%;
  margin: 10px;
  border: 1px color #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3); }

.entrada:nth-child(1) {
  width: 75%; }

.redes-container {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center; }

.redes-container ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center; }

.redes-container ul li a {
  display: block;
  padding: 0 10px;
  background: #333;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  transition: .2s; }

.redes-container ul:hover a {
  filter: blur(2px); }

.redes-container ul li a:hover {
  transform: translateY(-3px) scale(1.15);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none; }

.redes-container ul li .facebook:hover {
  background: var(--facebook); }

.redes-container ul li .instagram:hover {
  background: var(--instagram); }

.redes-container ul li .pinterest:hover {
  background: var(--pinterest); }

.redes-container ul li .linkedin:hover {
  background: var(--linkedin); }

header {
  position: fixed;
  text-align: right;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background: #b47869e6; }

.principal {
  max-width: 100%;
  margin: auto; }

nav {
  height: 80px;
  width: 100%; }

nav ul {
  list-style: none;
  float: right;
  display: flex;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-right: 15px; }

nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 5px; }

nav ul li a {
  color: #68635e;
  float: left;
  padding: 7px 12px;
  text-decoration: none;
  line-height: 10px;
  font-size: 16px;
  border-radius: 4px; }

a.active, a:hover {
  background-color: #fff;
  transition: .5s; }

nav ul li a:hover {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6px; }

.logo {
  width: 190px;
  float: left; }

.fondo .home {
  background: #ffa88e; }

.hero-image {
  position: relative;
  height: 600px;
  overflow: hidden;
  background: url("../img/fondo.png") no-repeat center;
  background-size: cover; }

.contenedor {
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: #ffa88e;
  font-weight: 700;
  text-transform: uppercase; }

.contenedor h1 {
  font-size: 72px;
  letter-spacing: 0.2em; }

.contenedor h1 span {
  border: 0px solid #ffa88e;
  font-family: 'Montserrat', sans-serif;
  padding: 0px 0px;
  display: inline-block; }

.des {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  display: block;
  font-size: 26px;
  text-shadow: 0 0 0 2px white; }

.btn {
  color: #ffffff;
  padding: 5px 24px;
  font-size: 16px;
  text-decoration: none;
  background: #ffa88e;
  border-radius: 8px;
  transition: 0.3s all; }

.btn:hover {
  opacity: 0.9; }

.table {
  width: 100%;
  border-collapse: collapse; }

.table td, .table th {
  padding: 12px 15px;
  border: 1px solid #55504c;
  text-align: center;
  font-size: 16px; }

.table th {
  background-color: #ffa88e;
  color: #ffffff; }

.table tbody tr:nth-child(even) {
  background-color: #fae8e8; }

.fondoblog {
  background-image: url("../img/backblog.jpg"); }

.fondoregistro {
  background-image: url("../img/mariefondo.jpg");
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0; }

form {
  width: 450px;
  margin: auto;
  background: #b47869e6;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px; }
  form h1 {
    text-align: left;
    color: #e2d2d2; }
  form h3 {
    text-align: left;
    color: #e2d2d2;
    font-size: 16px; }

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px 9px;
  box-sizing: border-box;
  font-size: 17px;
  border: none; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

#boton {
  background: #ffa88e;
  color: #fff;
  padding: 20px; }

#boton:hover {
  cursor: pointer; }

.plan {
  text-align: left; }

.yosoy h1 {
  color: #fff;
  font-size: 30px;
  margin: auto; }

.yosoy p {
  font-size: 18px;
  text-align: justify;
  margin: auto;
  padding: 10px 1%;
  line-height: 1.8;
  width: 50%; }

.izquierda {
  background: #ffa88e;
  height: 100vh;
  width: 50%;
  text-align: center; }
  .izquierda h1 {
    color: #fff;
    font-size: 48px;
    margin: auto;
    margin-top: 20%; }
  .izquierda p {
    color: #fff;
    font-size: 16px;
    text-align: justify;
    margin: auto;
    padding: 10% 10%;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 10%;
    line-height: 2; }

.derecha {
  background-image: url("../img/derecha.jpg");
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100vh;
  text-align: right; }

.derecha2 {
  background: #ffa88e;
  height: 100vh;
  width: 50%; }
  .derecha2 h1 {
    color: #fff;
    font-size: 48px;
    margin: auto;
    margin-top: 20%; }
  .derecha2 p {
    color: #fff;
    font-size: 18px;
    text-align: justify;
    margin: auto;
    line-height: 2;
    padding: 10% 10%;
    margin-top: 20%;
    margin-left: 12%;
    margin-right: 12%; }

.izquierda2 {
  background-image: url("../img/izquierda.jpg");
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100vh;
  text-align: right; }

#pantalladividida {
  display: flex; }

.creative {
  color: #fff; }

.checkbtn {
  font-size: 25px;
  color: white;
  float: right;
  line-height: 40px;
  margin-top: 1%;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

.ImagenNosotros {
  background-image: url("img/covernosotros.jpg");
  width: auto; }

.header {
  overflow: hidden;
  padding: 20px 20px; }

.hero-text {
  transform: translate(-50%, -50%);
  line-height: 20px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInRight {
  0% {
    opacity: 0%;
    transform: translateX 20px; }
  100% {
    opacity: 1;
    transform: translateX 0; } }

.entradas {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch; }

input.datos {
  width: 100px;
  height: 20px;
  transition: all 1s; }
  input.datos :focus {
    width: 200px;
    font-size: 20px; }

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none; }
  .topnav a.icon {
    float: right;
    display: block; } }

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative; }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0; }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left; } }

#fuera {
  list-style-position: outside;
  list-style-type: upper-latin; }

#TextoNegro {
  color: #232322;
  font-size: xx-large; }

#nombre {
  color: #FFFFF7;
  font-size: x-large;
  text-align: center;
  background-color: #FFB99F; }

#grad {
  background-image: linear-gradient(#FFE4CF, #ffa88e); }

@media only screen and (min-width: 1580px) {
  nav ul li a {
    font-size: 20px; } }

@media only screen and (max-width: 700px) {
  nav ul li a {
    font-size: 13px;
    margin-right: -5px; }
  .logo {
    width: 140px; } }

@media (max-width: 500px) {
  .table thead {
    display: none; }
  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%; }
  .table tr {
    margin-bottom: 15px; }
  .table td {
    text-align: right;
    padding-left: 25%;
    text-align: right;
    position: relative; }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left; } }

@media screen and (max-width: 375px) {
  .yosoy {
    width: 100%; }
    .yosoy p {
      font-size: 13px;
      line-height: 1.5;
      text-align: left;
      margin: 0% 0% 0% 15%;
      padding: 5px 0px 5px 2px; }
  form {
    width: 375px; }
  .entrada {
    width: 100%;
    height: 100vh;
    margin: 0px; }
    .entrada img {
      width: 375px; }
    .entrada .texto {
      padding-left: 0px;
      padding-right: 0px; }
      .entrada .texto p {
        font-size: 11px; }
  .entradas {
    width: 100%;
    height: 100vh;
    margin: 0px; }
  img {
    width: 375px;
    align-items: center; }
  iframe {
    width: 360px; }
  .izquierda p {
    font-size: 13px;
    line-height: 1.5;
    text-align: left; }
  .izquierda h1 {
    font-size: 20px; }
  .izquierda2 {
    height: 100vh; }
  .derecha {
    height: 100vh; }
  .derecha2 p {
    font-size: 13px;
    line-height: 1.5;
    text-align: right; }
  .derecha2 h1 {
    font-size: 20px; }
  .entrada {
    width: 100%;
    size: cover;
    margin: 5px; }
  .entradas {
    size: cover;
    width: 50%;
    margin: 5px; }
  p {
    font-size: 12px;
    margin: 5%; }
  h3 {
    margin-top: 10px;
    font-size: 13px; }
  h2 {
    font-size: 25px; }
  h1 {
    font-size: 14px; }
  span {
    font-size: 12px; }
  button {
    width: 90%; } }

@media (max-width: 750px) {
  .checkbtn {
    display: block; }
  nav ul {
    position: fixed;
    background-color: #b47869e6;
    padding-top: 2%;
    padding-left: 2%;
    width: 100%;
    height: 5vh;
    top: 74px;
    left: -120%;
    text-align: center;
    transition: all .5s; }
  nav ul li {
    display: block;
    margin: 0px 0;
    line-height: 30px;
    text-align: center; }
  nav ul li a {
    font-size: 13px;
    text-align: center; }
  a:hover, a.active {
    background: none;
    color: #fff; }
  #check:checked ~ ul {
    left: 0; } }

img.TextoArriba {
  vertical-align: text-top; }

.entrada img {
  max-width: 100%; }

/* Mi constante */
