
h1{
    color: #ffa88e;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 28px;
    animation-duration: 2s;
    animation-name: aparecer; 
} 

h2{
    color: #FFA88E;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 50px;
    animation-duration: 4s;
    animation-name: fadeInRight;
 }

 h3{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 16px;
  margin: 0;
  margin-bottom: 20px;
 }

.espaciado {
    letter-spacing: 3px;
  }


.entrada .texto {
    padding: 0px 15px 15px;
    }

.entrada .texto > button {
    background: gray;
    border: 0;
    color: white;
    margin-top: 14px;
    padding: 10px;
    width: 100%;
    }

textarea {
        width: 160px; height: 160px;
        transition: all 1s;
      
      :focus {
        width: 300px;
        font-size: 20px;
      }
}


  
