$plan: KonMarie; /* Mi constante */
p {
      @if $plan == Konmarie {
             color: #884767;
      } 
      
      @else if $plan == Exebio {
             color: #ad3672;
     } 
     
     @else if $plan == Masters {
                color: #db984c;
     } 
     
     @else if $plan == Digital {
                color: #4cbedb;
     } 
     
}

  
