#fuera {
  
    list-style-position: outside;
    list-style-type: upper-latin;
  }

#TextoNegro{
    color: #232322;
    font-size: xx-large;
}

#nombre{

    color: #FFFFF7;
    font-size: x-large;
    text-align: center;
    background-color: #FFB99F
}

#boton{
  background: #ffa88e;
  color:#fff;
  padding: 20px;
}

#boton:hover {
  cursor: pointer;
}

#grad {
    background-image: linear-gradient( #FFE4CF, #ffa88e);
   }

#pantalladividida {
    display: flex;
  }
  
#check {
    display:none;
  }

@media only screen and (min-width: 1580px) {
 
  nav ul li a {
    font-size: 20px;
  } 
}

@media only screen and (max-width: 700px) {
 
  nav ul li a {
    font-size: 13px;
    margin-right: -5px;
  } 

  .logo {
    width: 140px;
  }
}

@media(max-width: 500px){
  .table thead{
    display: none;
  }

  .table, .table tbody, .table tr, .table td{
    display: block;
    width: 100%;
  }

  .table tr {
    margin-bottom:15px;
  }

  .table td {
    text-align: right;
    padding-left: 25%;
    text-align: right;
    position: relative;
  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left:0;
    width: 50%;
    padding-left:15px;
    font-size:15px;
    font-weight: bold;
    text-align: left;
  }
}



@media screen and (max-width: 375px) {

  .yosoy {
    width: 100%;

    p {
      font-size: 13px;
      line-height: 1.5;
      text-align: left;
      margin: 0% 0% 0% 15%;
      padding: 5px 0px 5px 2px;
    }
  }
form {
    width: 375px;
}

.entrada {
  width: 100%;
  height: 100vh;
  margin: 0px;
  img {
    width: 375px;
  }
  .texto {
    padding-left: 0px;
    padding-right: 0px;
    p {
      font-size: 11px;
    }
  }
}
.entradas {
  width: 100%;
  height: 100vh;
  margin: 0px;
}
 img {
   width: 375px;
   align-items: center;
 }

  iframe {
    width: 360px;
  }

  .izquierda {
    p {
      font-size: 13px;
      line-height: 1.5;
      text-align: left;
    }
    h1 {
      font-size: 20px;
    }
  }

  .izquierda2 {
    height: 100vh;
  }

  .derecha {
    height: 100vh;
  }

  .derecha2 {
    p {
      font-size: 13px;
      line-height: 1.5;
      text-align: right;
    }
    h1 {
      font-size: 20px;
    }
  }

  .entrada {
    width: 100%;
    size: cover;
    margin: 5px;

  }
  
  .entradas {
    size: cover;
    width: 50%;
    margin: 5px;
  }

p {
  font-size: 12px;
  margin: 5%;
}

h3 {
  margin-top: 10px;
  font-size: 13px;
}

h2 {
  font-size: 25px;
}

h1 {
  font-size: 14px;
}

span {
  font-size: 12px;
}

button {
  width: 90%;
}
}

@media (max-width: 750px) {

  .checkbtn {
    display: block;

  }

  nav ul {
  position: fixed;
  background-color: #b47869e6;
  padding-top: 2%;
  padding-left: 2%;
  width: 100%;
  height: 5vh;
  top: 74px;
  left: -120%;
  text-align: center;
  transition: all .5s;
}

nav ul li {
  display: block;
  margin: 0px 0;
  line-height: 30px;
  text-align: center;
}

nav ul li a {
  font-size: 13px;
  text-align: center;
}

a:hover, a.active {
  background: none;
  color: #fff;

}
#check:checked ~ ul{
  left: 0;
  }
}
