#fuera {
  
    list-style-position: outside;
    list-style-type: upper-latin;
  }

#TextoNegro{
    color: #232322;
    font-size: xx-large;
}

#nombre{

    color: #FFFFF7;
    font-size: x-large;
    text-align: center;
    background-color: #FFB99F
}

#TextoArriba {
    vertical-align: text-top;  
  }

#grad {
    background-image: linear-gradient(#FFDFE9, #FFE4CF);
   }