html {
  height: 100%;
    }

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
  }
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: none;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
  
  .topnav {
    overflow: hidden;
    .icon {
    display: none;
  }
}

.grid {
    display: grid;
    height: 1080px;
    grid-template-columns: [x0] 0.5fr [x1] 2fr [x2] 0.5fr [x3];
    grid-template-rows: [y0] 0.01fr [y1] 1fr [y2] 0.01fr [y3];
  
  }

.cabecera {
    grid-column-start: x0;
    grid-column-end: x3;
    grid-column: x0 / x3;
  }
  
.sidebar {
    position:sticky;
    grid-column-start: x0;
    grid-column-end: x1;
    grid-row-start: y1;
    grid-row-end: y3;
    color: white;
    padding: 5px;
    align-items: center;
    inset-inline-start: 1;
  }

.textbar {
    padding-right: 5px;
    margin-left: -100px;
    grid-row-start: y1 ;
    grid-row-end: y3;
    grid-column: x2 / x3;
    text-align: left;
    display: inline-block;  
  }

.content {
    grid-column: x1 / x2;
    grid-row: y1 / y2;
  }
  
.footer {
    grid-column: x0 / x3;
    grid-row-start: y2;
    grid-row-end: y3;
  }
.section {

    .servicios{
        background-color: #8b8681;
        text-align: center;
        margin-top: 8px;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        padding: 5px 50px 50px 25px;
    }

    .numeros{
        text-align: center;
        margin-top: 8px;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        padding: 5px 50px 50px 25px;
    }
    .intro{
  
        text-align: justify;
        margin-top: 8px;
        margin-right: 40px;
        margin-bottom: 20px;
        margin-left: 40px;
        padding: 5px 160px 20px 160px;
      
    }
}

.entrada {
    width: 250px;
    margin: 10px;
    border: 1px color #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  } 

.entrada:nth-child(1) {
    width: 550px;

  }
